body, html {
    height: 100%;
    margin: 0;
  }

.slide-bg {
    background-image: url("./images/slide.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-center {
    display:flex;
    justify-content: center;
    align-items:center;
  }

.form {
    background-color: black;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
  }

  .input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  ::placeholder {
    color: #fff;
    opacity: 0.7; 
  }

  svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }